body{
    background-color: rgb(0, 0, 26);
    color: white;
    font-family: consolas;
    padding-top: 56px;
}

#logo:hover{
    transform: scale(1.03);
}


html {
    scroll-behavior: smooth;
}


#skillboxes{
    color: rgb(172, 172, 172);
    background-color: rgb(2, 2, 15);
}

#skillboxes:hover{
    background-color: rgba(0, 0, 36, 0.959);
    transform: scale(1.005);
}

section {
    min-height: 80vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s; 
}
    
.show {  
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);  
}
    
.skillbox:nth-child(2) {  
    transition-delay: 200ms;      
}
.skillbox:nth-child(3) {    
    transition-delay: 400ms;      
}
.skillbox:nth-child(4) {     
    transition-delay: 600ms;      
}

#typed-text {
display: inline;
}

#typed-text2 {
    display: inline;
}

.text__editor {
    background-color: black;
    width: 80%;
    padding: 10px 10px 100px;
    border: 8px;
    border-top: 20px solid white;
}


.text__editor .text__body {
    font-size: 15px;
    color: white;
}

.custom-box {
    font-family: consolas;
    border: 0.5px solid #a3a3a3;
    margin: 10px;
    padding: 5px;
    text-align: center;
  }

  .custom-box h4 {
    margin: 10px;
  }

  .custom-box p {
    color: #a3a3a3;
  }
  .custom-box button {
    background-color: transparent;
    color: #a3a3a3;
    border: 0.2px solid #cfcfcf;
  }

  .custom-box button:hover {
    color: white;
    background-color: transparent;
    background-color: rgb(0, 0, 26);
    border: 0.2px solid white;
  }