body{
    background-color: rgb(0, 0, 26);
    color: white;
    font-family: consolas;
    padding-top: 56px;
}

#logo:hover{
    transform: scale(1.03);
}


html {
    scroll-behavior: smooth;
}


#skillboxes{
    color: rgb(172, 172, 172);
    background-color: rgb(2, 2, 15);
}

#skillboxes:hover{
    background-color: rgba(0, 0, 36, 0.959);
    transform: scale(1.005);
}